.about {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.heading_one {
  font-size: 4.5rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: var(--font-mono);
}

.heading_two {
  font-size: 2.5rem;
  font-family: var(--font-mono);
}

.heading_one .name {
  display: inline-block;
  position: relative;
  // display: none;
}
// .heading_one .name::before {
// background: currentColor;
// display: hidden;
// }

.heading_one .name::after {
  // display: block;
  content: "";
  position: absolute;
  bottom: 25%;
  left: 0;
  height: 1.5rem;
  width: 100%;
  background: var(--accent-color);
  z-index: -1;
}

.animation {
  position: absolute;
  left: 222px;
  transition-delay: 10s;
}

.animation::after {
  display: none;
}

.typing {
  font-size: 1.5rem;
  font-family: var(--font-mono);
}

@media screen and (max-width: 784px) {
  .heading_one {
    font-size: 2.5rem;
  }
  .heading_two {
    font-size: 1.5rem;
  }
  .typing {
    font-size: 1rem;
  }
}
