.footer {
  padding: 20px;
  bottom: 0;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  font-family: DM Sans, sans-serif;
  color: #797979;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}
