.footer {
  padding: 20px;
  bottom: 0;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  font-family: var(--font-mono);
  color: #797979;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  padding-left: 5rem;
}

.footer_links,
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  flex: 1;
}

.footer_note {
  display: flex;
}

@media screen and (max-width: 784px) {
  .footer {
    flex-direction: column;
    padding: 0;
    padding-bottom: 0.5rem;
  }
}
